@import './text.css';


[v-cloak] {display: none;}


*{
    margin: 0;
    padding: 0;
}
body{
    /* background: #936cc6; */
    background: black;
    overflow: hidden;
    position: absolute;
}
div#app{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
}